Belajar Buat Form dan Input
<form action="show.php?test=haha" method="POST">
	<table>
		<tr>
			<td>Nama</td>
			<td><input type="text" name="nama"></td>
		</tr>
		<tr>
			<td>Password</td>
			<td><input type="password" name="password"></td>
		</tr>
		<tr>
			<td>Warna  Favorit anda</td>
			<td>
				<input type="checkbox" name="warna[]" value="merah"> Merah
				<input type="checkbox" name="warna[]" value="hitam"> Hitam
				<input type="checkbox" name="warna[]" value="putih"> Putih
			</td>
		</tr>
		<tr>
			<td>Asisten Pemrograman Web Anda</td>
			<td>
				<input type="radio" name="asisten" value="Rahmi"> Rahmi
				<input type="radio" name="asisten" value="Budi"> Budi
				<input type="radio" name="asisten" value="Lia"> Lia
			</td>
		</tr>
		<tr>
			<td>Status Anda</td>
			<td>
				<select name="status">
					<option value="lajang">Lajang</option>
					<option value="menikah">Menikah</option>
				</select>
			</td>
		</tr>
		<tr>
			<td>Deskripsi tentang anda</td>
			<td>
				<textarea name="deskripsi"></textarea>
			</td>
		</tr>
		<tr>
			<td colspan="2"><button>Submit</button></td>
		</tr>
	</table>
</form>